<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="ReverseProxyToNode" stopProcessing="true">
          <match url="(.*)" />
          <action type="Rewrite" url="http://127.0.0.1:3000/{R:1}" appendQueryString="true" />
        </rule>
      </rules>
    </rewrite>
    <webSocket enabled="true" />
    <httpErrors existingResponse="PassThrough" />
  </system.webServer>
</configuration>
